body{
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 98px;
}

main{
}

.width-full{
  width: 0 auto;
}

.height-full{
  height: 100%;
}

.wrap{
  max-width: 1440px;
  margin: 0 auto;
}

.hide{ /* 안보이게 */
  display: none !important;
}

.rbox{
  width: 310px;
  height: 310px;
  background-color: #eee;
  border-radius: 35px;
  text-align: center;
}

.bgimg{
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: 85%;
  background-position-y: 15%;
}

.padding50{
  padding-top: 50px;
  padding-bottom: 50px;
}

.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
}

.flex-between{
  justify-content: space-between;
}

.flex-align-center{
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.text-center{
  text-align: center;
}

.h1{
  font-size: 55px;
}

.h2{
  font-size: 45px;
}

.h3{
  font-size: 35px;
}

.h4{
  font-size: 25px;
}

.h5{
  font-size: 20px;
}

.p{
  font-size: 14px;
}

.block{
  display: block;
}